body { font-family: 'Kumbh Sans', sans-serif; }

.hero-bg {
	background-image: url(../img/about.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.hero-dark {
	position: absolute;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba( 0, 0, 0, .3);
}

.color-gr { color: #1bd1a7;}

.bac-col-green { 
	background-color: #1bd1a7;
	transition: 1s;
}

.bac-col-green:hover {
	background-color: #fff;
	color: #000!important;
	border-color: #000;
}

.hero-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	color: #fff;
	text-align: center;
}

.hero-width {
	width: 60%;
	margin: 0 auto;
	padding: 20px 0;
}

.header-font { 
	font-weight: bold;
}

.intro-header {
	width: 90%;
	font-weight: 800;
	margin: 10px auto;
}

.header-col { color: #484a45; }

.hexagon-lg {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #1bd1a7;
	height: 120px;
	width: 120px;
	position: relative;
	margin: 0 auto;
}

.hexagon-sm {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #1bd1a7;
	height: 30px;
	width: 30px;
	position: relative;
}

.hexagon-md {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #1bd1a7;
	height: 60px;
	width: 60px;
	position: relative;	
	margin: 5px 5px;
}

.number-div {
	width: 33.3%;
}

.sm-text {
	width: 30%;
	color: lightgrey;
}

.number {
	color: #1bd1a7;
	font-size: 50px;	
}

.pos-md {
	position: absolute;
	top: 15px;
	left: 15px;
}

.pos-absolute {
	position: absolute;
	top: 35px;
	left: 35px;
}

.back-grey { background-color: #fbfbfb; }

.btn-absolute {
	position: absolute;
	top: -20px;
    left: 50%;
    transform: translate(-50%, 0); 
	
}

.btn-relative {
	position: relative;
}

.number-grey {
	 border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-top: -3px;
    background: #fff;
    border: 2px solid #484a45;
    color: #484a45;
    text-align: center;
}

.number-green {
	border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-top: -3px;
    background: #1bd1a7;
    border: 2px solid #1bd1a7;
    color: #fff;
    text-align: center;
}

.width-lg { width: 70%; }

.width-sm { width: 10%; }

.first, .second, .third {
	background: rgb(91,244,131);
	background: linear-gradient(90deg, rgba(91,244,131,1) 0%, rgba(27,209,167,1) 43%, rgba(27,209,167,1) 51%, rgba(91,244,131,1) 100%);
}

.call-bg {
	background-color: #153e52;
}

.form-bg {
	background-color: #2a5d78;
	border-color: #2a5d99;
}

.text-grey {
	color: #9a999e;
}

.btn-contact {
	background-color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	height:	40px;
	font-weight: bold;
	transition: 1s;
}

.btn-contact:hover {
	background-color:  #1bd1a7;
}

@media screen and (max-width: 768px){
	.navbar-toggler{
		background-color: #1bd1a7;
	}
	.navbar-collapse {
			
		width: 100%;
	}

	.navbar {
		background-color: #000 !important;
		text-align: center;
	}

	.navbar-nav {
		margin-right: 0 !important;
	}
}
